# Ejercicios Pandas

In [ ]:
import pandas as pd

**2.** Imprimir la  vessión pandas

In [ ]:
pd.__version__

## Cuestiones básicas DataFrame



Nota: recordar importar numpy:
```python
import numpy as np
```

Considerar el siguiente diccionario y la lista  `labels`:


data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


**3.** Crear un  a DataFrame `df` con los datos del diccionario y el índice  `labels`.

In [ ]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

**4.** Imprimir un resumen del marco creado.

In [ ]:
df.info()

# ...or...

df.describe()

**5.** Mostrar las 3 primeras filas de `df` de dos formas distintas.

In [ ]:
df.iloc[:3]

# or equivalently

df.head(3)

**6.** Seleccionar las columnas 'animal' y 'age' del mardo de datos df .

In [ ]:
df.loc[:, ['animal', 'age']]

# or

df[['animal', 'age']]

**7.** Seleccionar los datos en las filas `[3, 4, 8]` *y* en las columnas `['animal', 'age']`.

In [ ]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

**8.** Seleccionar sólo las filas donde el numero de visitas es mayor que 2.

In [ ]:
df[df['visits'] > 2]

**9.** Seleccione las filas donde falta la edad, es decir, es "NaN".

In [ ]:
df[df['age'].isnull()]

**10.** Seleccione las filas donde el animal es un cat *y* age es menor a 3 años.

In [ ]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

**11.** Seleccione las filas donde age esté entre 2 y 4 (inclusive).

In [ ]:
df[df['age'].between(2, 4)]

**12.** Cambie la edad en la fila 'f' a 1,5.

In [ ]:
df.loc['f', 'age'] = 1.5

**13.** Calcule la suma de todas las visitas en `df` (es decir, el número total de visitas).

In [ ]:
df['visits'].sum()

**14.** Calcule la edad media de cada animal diferente en "df".

In [ ]:
df.groupby('animal')['age'].mean()

**15.** Agregue una nueva fila 'k' a `df` con los valores que elija para cada columna. Luego elimine esa fila para devolver el DataFrame original.

In [ ]:
df.loc['k'] = [5.5, 'dog', 'no', 2]

# and then deleting the new row...

df = df.drop('k')

**16.** Cuente el número de cada tipo de animal en `df`.

In [ ]:
df['animal'].value_counts()

**17.** Ordene `df` primero por los valores en 'edad' en orden *descendente*, luego por el valor en la columna 'visitas' en orden *ascendente* (por lo que la fila `i` debe ser la primera y la fila `d` debe ser ser la última).

In [ ]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

**18.** La columna "prioridad" contiene los valores "tes" y "no". Reemplace esta columna con una columna de valores booleanos: "yes" debe ser "true" y "no" debe ser "Falso".

In [ ]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

**19.** En la columna "animal", cambie las entradas "snake" a "ptthón".

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')
df